h1, h2 {
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Container spacing */
.case-options-container {
    display: flex;
    justify-content: center;

    gap: 1.25rem;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
}

/* Case option styling */
.case-option {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 0.5rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
    background-color: var(--color-bg);
    font-style: bold;
    cursor: pointer;
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
}

.case-option:hover {
    background-color: var(--color-main);
    color: white;
}

.active-case-btn {
    background-color: var(--color-main);
    color: white;
    border: 1px solid #1a5a8a;
}

/* Case data container */
.case-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 41.25rem;
    gap: 0.75rem;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
}

/* Case number and description */
.case-header {
    padding-top: 0.25rem;
}

/* TCONST and isolation level */
form {
    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
    background-color: var(--color-secondary);
}

form label {
    font-weight: bold;
    color: var(--color-main);
    margin-bottom: 0.3rem;
}

/* TCONST input field */
form input {
    padding: 0.5rem;
    border: 1px solid var(--color-sub);
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

/* isolation level selection */
form select {
    padding: 0.5rem;
    padding-right: 1rem;
    border: 1px solid var(--color-sub);
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

/* Submit button */
form button {
    align-self: flex-end;
    margin-top: 0.5rem;
}

/* NODE CARDS CONTAINER */
.node-results-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* NODE CARD */
.node-result {
    flex: 1 1 100%; 
    max-width: 100%;
    text-align: left;
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    padding: 0.75rem;
    box-sizing: border-box;
}

.node-name {
    margin-bottom: 0.8rem;
}

/* READ RESULTS */
.read-results {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* All movie details stacked vertically */
.results-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;            
    padding: 0.625rem 0.75rem; 
    border-radius: 0.5rem;
    background-color: white;
}

/* Slight indent for movie details */
.results-content .detail {
    margin-left: 0.75rem;
}

/* Title & genre styling */
.results-content .title {
    font-weight: bold;
    font-size: 1rem;
}

.results-content .genre {
    color: var(--color-sub);
}

/* Metadata styling (runtime, year, tconst, etc.) */
.results-content .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.9rem;
    color: var(--color-main);
}

.results-content .bottom .row {
    display: flex;
    flex-direction: column; 
    gap: 0.15rem;
}

/* Last update & timestamp */
.results-content .last-update,
.results-content .timestamp {
    font-style: italic;
    color: var(--color-sub);
}

/* Repeatable and read status */
.read-results .repeatable {
    font-weight: bold;
    color: var(--color-main);
}

.read-results .read-status.success {
    color: green;
    font-weight: bold;
}

.read-results .read-status.failed {
    color: red;
    font-weight: bold;
}

.bottom-info {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: 0;
}

.results-analysis {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #2b8fdb;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.results-analysis h2 {
    margin: 0;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    color: #1a1a1a;
}

.results-analysis p, .results-analysis h3 {
    margin: 0;
    font-size: 0.95rem;
    color: #333;
}

.json-response {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.json-content {
    display: flex;
    border-radius: 0.5rem;
    margin-top: -0.5rem;
    white-space: pre-wrap;
}

#ini-frgament-row {
    display: flex;
    width: 100%;
}

#ini-fragment {
    width: 100%;
}

/* -----------------------------
   Case 2
------------------------------ */

/* Row for start year and runtime */
.row {
    display: flex;
    gap: 1rem;
}

/* Each input in the row takes equal space */
.row input {
    flex: 1;
}

.last-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.original-value, .readers, .writers, .final-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding-top: 20px; 
}

.node-reader {
    max-width: none;
    width: 100%;
    gap: 1.25rem;
}

.read-content-container, .final-values-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.25rem;
}

.read-1-content, .read-2-content  {
    width: 100%;
}

.node-reader .read-results .top {
    display: flex;
    flex-direction: row;
}

.read-results .left, .read-results .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
}

.read-results .read-status {
    font-weight: bold;
    color: green;
}

.write-content-container {
    display: flex;
    width: 100%;
    gap: 1.25rem;
    padding: 0px;
}

.node-writer {
    width: 100%;
    max-width: none;
}

.final-values-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.analysis-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.25rem;
    margin-top: 1.25rem;
    border-radius: 8px;
    background-color: var(--color-bg);
}

.analysis-breakdown-content {
    display: flex;
    gap: 7.5rem;
}

.anomaly-occurrences {
    display: flex;
    flex-direction: column;
}

.anomaly-occurrences p {
    margin-bottom: 0rem;
}

.read-write-operations {
    display: flex;
    flex-direction: column;
}

.read-write-operations .top, .read-write-operations .bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
}

.read-write-operations p, .read-write-operations h6 {
    margin-bottom: 0.25rem;
    text-align: right;
}

.operation-status.successful {
    font-weight: bold;
    color: green;
}

.operation-status.unsuccessful {
    font-weight: bold;
    color: #e83d3d;
}

/* Center all sections and results */
#case2-node-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#case2-node-results-container > div {
  width: 90%; /* or max-width: 1200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#case2-node-results-container h3 {
  text-align: center;
}

#case2-original-value-container,
#case2-readers-container,
#case2-writers-container,
#case2-final-values-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0;
}

h3 {
    margin-bottom: -0.8rem;
}

.read-1 {
    margin-bottom: 0rem;
}

.read-results.minimal {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.read-results.minimal .row.info-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.read-results.minimal .row.status-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.read-status.success {
  color: green;
}

.read-status.failed {
  color: red;
}

.writer-results.minimal {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.9rem;
  color: #333;
  width: 100%;
}

.writer-results.minimal .row.info-row {
  display: flex;
  justify-content: space-between;
}

.writer-results.minimal .row.status-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: 500;
}

.write-status.success {
  color: green;
  font-weight: bold;
}

.write-status.failed {
  color: red;
  font-weight: bold;
}
