services:
  backend:
    image: haniellejermayn/distributed-backend:latest
    container_name: distributed-backend
    restart: always
    network_mode: host 
    environment:
      - FLASK_ENV=production
      - NODE1_HOST=localhost  
      - NODE1_PORT=3306
      - NODE2_HOST=${VM2_IP:-10.2.14.58}
      - NODE2_PORT=3306
      - NODE3_HOST=${VM3_IP:-10.2.14.59}
      - NODE3_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=password123